[submodule "sysadmin/gkeyring"]
	path = sysadmin/gkeyring
	url = https://github.com/kparal/gkeyring
[submodule "utility/weather"]
	path = utility/weather
	url = https://github.com/l-r/weather.sh
[submodule "sysadmin/speetouch-keygen"]
	path = sysadmin/netsec/speetouch-keygen
	url = https://github.com/renatomartins/thomson-key
[submodule "web/mixcloud-downloader"]
	path = web/mixcloud-downloader
	url = https://github.com/peppy/mixcloud-downloader
[submodule "sysadmin/tespeed"]
	path = sysadmin/tespeed
	url = https://github.com/Janhouse/tespeed
[submodule "utility/bd"]
	path = sysadmin/bd
	url = https://github.com/vigneshwaranr/bd
[submodule "web/youtube_playlist"]
	path = web/youtube_playlist
	url = https://github.com/zaius/youtube_playlist
[submodule "misc/ansiweather"]
	path = utility/ansiweather
	url = https://github.com/fcambus/ansiweather
[submodule "utility/conversion/DokuWiki-to-Markdown-Converter"]
	path = dev/dokuwiki-tools/DokuWiki-to-Markdown-Converter
	url = https://github.com/ludoza/DokuWiki-to-Markdown-Converter
[submodule "media/mp3-scripts"]
	path = utility/mp3-scripts
	url = https://github.com/mafrosis/mp3-scripts
[submodule "sysadmin/LANs.py"]
	path = sysadmin/netsec/LANs.py
	url = https://github.com/DanMcInerney/LANs.py
[submodule "sysadmin/to"]
	path = sysadmin/to
	url = https://github.com/resultsreturned/to
[submodule "utility/cb-wmhacks"]
	path = TODO/cb-wmhacks
	url = https://github.com/corenominal/cb-wmhacks
[submodule "utility/histo"]
	path = dev/histo
	url = https://github.com/visionmedia/histo
[submodule "utility/spark"]
	path = dev/spark
	url = https://github.com/holman/spark
[submodule "utility/todo.txt-cli"]
	path = utility/todo.txt/todo.txt-cli
	url = https://github.com/ginatrapani/todo.txt-cli
[submodule "sysadmin/recon-ng"]
	path = sysadmin/netsec/recon-ng
	url = https://bitbucket.org/LaNMaSteR53/recon-ng
[submodule "sysadmin/uberimg"]
	path = sysadmin/uberimg
	url = https://github.com/infinity0/uberimg
[submodule "web/Uppity"]
	path = web/Uppity
	url = https://github.com/Kiwi/Uppity
[submodule "sysadmin/timestompy"]
	path = sysadmin/timestompy
	url = https://github.com/b3rn3d/timestompy
[submodule "sysadmin/inception"]
	path = sysadmin/netsec/inception
	url = https://github.com/carmaa/inception
[submodule "dev/git/gitcheck"]
	path = dev/git/gitcheck
	url = https://github.com/badele/gitcheck
[submodule "media/realtimeconfigquickscan"]
	path = TODO/untested/realtimeconfigquickscan
	url = https://github.com/raboof/realtimeconfigquickscan
[submodule "sysadmin/Linux_Exploit_Suggester"]
	path = sysadmin/netsec/Linux_Exploit_Suggester
	url = https://github.com/PenturaLabs/Linux_Exploit_Suggester
[submodule "sysadmin/raspbian-ua-netinst"]
	path = sysadmin/raspbian-ua-netinst
	url = https://github.com/hifi/raspbian-ua-netinst
[submodule "fun/schemer"]
	path = fun/schemer
	url = https://github.com/thefryscorer/schemer
[submodule "utility/FileTeaSend"]
	path = utility/FileTeaSend
	url = https://github.com/brechin/FileTeaSend
[submodule "dev/git/ghrabber"]
	path = dev/git/ghrabber
	url = https://github.com/cortesi/ghrabber
[submodule "web/Dropbox-cli"]
	path = web/Dropbox-cli
	url = https://github.com/andreafabrizi/Dropbox-Uploader
[submodule "media/groove-dl"]
	path = utility/groove-dl
	url = https://github.com/jacktheripper51/groove-dl
[submodule "sysadmin/evilmaid_chkdsk"]
	path = sysadmin/netsec/evilmaid_chkdsk
	url = https://github.com/AlexWebr/evilmaid_chkdsk
[submodule "sysadmin/netsec/azazel"]
	path = sysadmin/netsec/azazel
	url = https://github.com/chokepoint/azazel.git
[submodule "utility/lightsOn"]
	path = untested/lightsOn
	url = https://github.com/iye/lightsOn
[submodule "web/fbcmd"]
	path = web/fbcmd
	url = https://github.com/dtompkins/fbcmd
[submodule "utility/xkcdpass"]
	path = untested/xkcdpass
	url = https://github.com/rasmus-storjohann/xkcdpass
[submodule "sysadmin/netsec/PHP-Shell-Detector"]
	path = sysadmin/netsec/PHP-Shell-Detector
	url = https://github.com/emposha/PHP-Shell-Detector
[submodule "media/color_transfer"]
	path = TODO/untested/color_transfer
	url = https://github.com/jrosebr1/color_transfer
[submodule "dev/git/github-issues-import"]
	path = dev/git/github-issues-import
	url = https://github.com/IQAndreas/github-issues-import
[submodule "sysadmin/netsec/htshells"]
	path = sysadmin/netsec/htshells
	url = https://github.com/wireghoul/htshells
[submodule "media/VLC-Subtitles-Finder"]
	path = utility/VLC-Subtitles-Finder
	url = https://github.com/thePanz/VLC-Subtitles-Finder
[submodule "utility/beargap"]
	path = sysadmin/netsec/beargap
	url = https://github.com/samrussell/beargap
[submodule "sysadmin/netsec/the-backdoor-factory"]
	path = sysadmin/netsec/the-backdoor-factory
	url = https://github.com/secretsquirrel/the-backdoor-factory
[submodule "sysadmin/netsec/Weevely"]
	path = sysadmin/netsec/Weevely
	url = https://github.com/epinna/Weevely
[submodule "sysadmin/netsec/WhatWeb"]
	path = sysadmin/netsec/WhatWeb
	url = https://github.com/urbanadventurer/WhatWeb
[submodule "sysadmin/netsec/wpscan"]
	path = sysadmin/netsec/wpscan
	url = https://github.com/wpscanteam/wpscan
[submodule "sysadmin/network_map"]
	path = sysadmin/network_map
	url = https://github.com/Oros42/network_map/
[submodule "sysadmin/netsec/wordhound"]
	path = sysadmin/netsec/wordhound
	url = https://bitbucket.org/mattinfosec/wordhound
[submodule "sysadmin/skx-sysadmin-utils"]
	path = sysadmin/skx-sysadmin-utils
	url = https://github.com/skx/sysadmin-util
[submodule "sysadmin/netsec/mbox-sandbox"]
	path = sysadmin/netsec/mbox-sandbox
	url = https://github.com/tsgates/mbox
[submodule "sysadmin/netsec/NeoPI"]
	path = sysadmin/netsec/NeoPI
	url = https://github.com/Neohapsis/NeoPI
[submodule "sysadmin/netsec/evilgrade"]
	path = sysadmin/netsec/evilgrade
	url = https://github.com/infobyte/evilgrade
[submodule "sysadmin/NoPriv"]
	path = sysadmin/NoPriv
	url = https://github.com/RaymiiOrg/NoPriv
[submodule "utility/location-history-visualizer"]
	path = sysadmin/netsec/location-history-visualizer
	url = https://github.com/theopolisme/location-history-visualizer
[submodule "utility/todotxt/todo.txt-cli"]
	path = utility/todotxt/todo.txt-cli
	url = https://github.com/ginatrapani/todo.txt-cli
[submodule "TODO/untested/xkcdpass"]
	path = TODO/untested/xkcdpass
	url = https://github.com/rasmus-storjohann/xkcdpass
[submodule "sysadmin/netsec/kernel-rootkit-module"]
	path = sysadmin/netsec/kernel-rootkit-module
	url = https://gist.github.com/jvns/6894934
[submodule "dev/check-all-the-things"]
	path = dev/check-all-the-things
	url = https://anonscm.debian.org/git/collab-maint/check-all-the-things.git
[submodule "dev/git/git-feed"]
	path = dev/git/git-feed
	url = https://github.com/brennen/git-feed
[submodule "web/imgur-album-downloader"]
	path = web/imgur-album-downloader
	url = https://github.com/alexgisby/imgur-album-downloader/
[submodule "sysadmin/netsec/wifiphisher"]
	path = sysadmin/netsec/wifiphisher
	url = https://github.com/sophron/wifiphisher
[submodule "dev/git/git-archive-all"]
	path = dev/git/git-archive-all
	url = https://github.com/Kentzo/git-archive-all
[submodule "utility/Classical-Alarm-Clock"]
	path = utility/Classical-Alarm-Clock
	url = https://github.com/WPaceley/Classical-Alarm-Clock
[submodule "utility/JS-Web-Clock"]
	path = utility/JS-Web-Clock
	url = https://github.com/ityler/JS-Web-Clock
[submodule "dev/regexr"]
	path = dev/regexr
	url = https://github.com/gskinner/regexr/
[submodule "webdev/Master-List-of-HTML5-JS-CSS-Resources"]
	path = webdev/Master-List-of-HTML5-JS-CSS-Resources
	url = https://github.com/gloparco/Master-List-of-HTML5-JS-CSS-Resources
[submodule "webdev/awesome-php"]
	path = webdev/awesome-php
	url = https://github.com/ziadoz/awesome-php
[submodule "dev/awesome-python"]
	path = dev/awesome-python
	url = https://github.com/vinta/awesome-python
[submodule "sysadmin/awesome-sysadmin"]
	path = sysadmin/awesome-sysadmin
	url = https://github.com/kahun/awesome-sysadmin
[submodule "dev/free-programming-books"]
	path = dev/free-programming-books
	url = https://github.com/vhf/free-programming-books
[submodule "dev/github-cheat-sheet"]
	path = dev/github-cheat-sheet
	url = https://github.com/tiimgreen/github-cheat-sheet
[submodule "sysadmin/netsec/kaliwiki"]
	path = sysadmin/netsec/kaliwiki
	url = https://github.com/pwnwiki/kaliwiki
[submodule "sysadmin/good-at-ops"]
	path = sysadmin/good-at-ops
	url = https://github.com/adamhjk/good-at-ops
[submodule "sysadmin/linuxgems"]
	path = sysadmin/linuxgems
	url = https://github.com/WilliamHackmore/linuxgems
[submodule "dev/markdown-resources"]
	path = dev/markdown-resources
	url = https://github.com/rhythmus/markdown-resources
[submodule "sysadmin/netsec/msfwiki"]
	path = sysadmin/netsec/msfwiki
	url = https://github.com/pwnwiki/msfwiki
[submodule "sysadmin/node-sysvinit"]
	path = sysadmin/node-sysvinit
	url = https://github.com/nicokaiser/node-monit
[submodule "dev/participating-in-open-source"]
	path = dev/participating-in-open-source
	url = https://github.com/btford/participating-in-open-source
[submodule "sysadmin/netsec/pwnwiki.github.io"]
	path = sysadmin/netsec/pwnwiki.github.io
	url = https://github.com/pwnwiki/pwnwiki.github.io
[submodule "sysadmin/netsec/q-metasploit"]
	path = sysadmin/netsec/q-metasploit
	url = https://github.com/pwnwiki/q
[submodule "sysadmin/netsec/webappurls"]
	path = sysadmin/netsec/webappurls
	url = https://github.com/pwnwiki/webappurls
[submodule "sysadmin/netsec/dfirwiki"]
	path = sysadmin/netsec/dfirwiki
	url = https://github.com/pwnwiki/dfirwiki
[submodule "webdev/static-site-generator-comparison"]
	path = webdev/static-site-generator-comparison
	url = https://github.com/jaspervdj/static-site-generator-comparison/
[submodule "sysadmin/netsec/TCP-32764"]
	path = sysadmin/netsec/TCP-32764
	url = https://github.com/elvanderb/TCP-32764
[submodule "sysadmin/tldr"]
	path = sysadmin/tldr
	url = https://github.com/rprieto/tldr
[submodule "webdev/webdev-principles"]
	path = webdev/webdev-principles
	url = https://github.com/veltman/principles
[submodule "sysadmin/what-happens-when"]
	path = sysadmin/what-happens-when
	url = https://github.com/alex/what-happens-when
[submodule "utility/Magnet2Torrent"]
	path = utility/Magnet2Torrent
	url = https://github.com/danfolkes/Magnet2Torrent
[submodule "dev/kali-live-build-config"]
	path = dev/kali-live-build-config
	url = git://git.kali.org/live-build-config.git
[submodule "dev/cb-metapackage-example"]
	path = dev/cb-metapackage-example
	url = https://github.com/corenominal/cb-metapackage
